# scope: markdown

snippet vheading1
	# ${1:Heading1}

snippet vheading2
	## ${1:Heading2}

snippet vh1
	# ${1:Heading1}

snippet vh2
	## ${1:Heading2}

snippet vh3
	### ${1:Heading3}

snippet vh4
	#### ${1:Heading4}

snippet vh5
	##### ${1:Heading5}

snippet vh6
	###### ${1:Heading6}

snippet vcheck
	helloworld