# scope: markdown

snippet vbold
	**${1:BOLD}**

snippet vitalic
	_${1:Italic}_


snippet vblockquote
	> ${1:qouted text}

snippet vunderline
	__${1:UnderlineText}__

snippet vstriketext
	~~${1:STRIKE TEXT}~~
	
snippet vtesting
	helloworld
	
