# scope: markdown

snippet vlist
	* ${1:List Item 1}
	* ${2:List Item 2}

snippet vunorderedList
	* ${1:List Item 1}
	* ${2:List Item 2}
		* ${3:sub list item 1}
		* ${4:sub list item 2}

snippet vorderedList
	1. ${1: Item 1}
	2. ${2: Item 2}
		1. ${3: Item 1}
		2. ${4: Item 2}
		

# task list
snippet vtasklist
	- [${1:x}] ${2:item}
	

	
